@import "styles/breakpoints.scss";
@import "assets/fonts/fonts.scss";

body {
  margin: 0;
  font-family: "OpenSans" !important;
  background: linear-gradient(180deg, rgba(6, 0, 38, 0.83), rgb(13, 10, 31));
}

:focus {
  outline: none !important;
}

.Toastify__toast-container {
  z-index: 10000000 !important;
  &.Toastify__toast-container--bottom-right {
    top: auto;
    bottom: 0;
  }
  & .Toastify__toast {
    font-family: "OpenSans" !important;
    @include md {
      border-radius: 0.25rem !important;
    }
  }
}

.max-width-container {
  display: block;
  width: 90%;
  margin: 0 auto;
  @include rwd(1440) {
    max-width: 1440px;
  }
}
